listener "tcp" {
  address          = "0.0.0.0:{{ vault_port }}"
  cluster_address  = "0.0.0.0:{{ vault_cluster_port }}"
}

api_addr = "http://{{ vault_addr }}:{{ vault_port }}"
cluster_addr = "http://{{ vault_addr }}:{{ vault_cluster_port }}"

seal "awskms" {
  region     = "{{ vault_region }}"
  kms_key_id = "{{ kms_key }}"
}
disable_mlock = true
storage "raft" {
  path = "{{ vault_raft_path }}"
  node_id = "raft_{{ ansible_facts['nodename'] }}"
}
ui = true
